    *{
      margin: 0;
    }
    body{
      background-color: rgb(0,16,33);
      font-family: Arial;
    }
    .div-sla{
      width: 100%;
      padding: 20px 0;
      background-color: rgb(45,112,143);
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
    }
    .div-sla section{
      display: flex;
      padding: 40px 25px ;
      gap: 20px;
      width: 200px;
      background-color: rgb(0,16,33);
      margin: 6px;
      color: rgb(45,112,143);
      border-radius: 20px;
      transition: all .1s ease;
    }

    .div-sla section:hover{
      background-color: rgba(0,16,33, .5);
      border: 2px solid rgb(83,164,195);
      color: rgb(83,164,195);
    }

    .div-sla section p{
      opacity: 0.5;
    }

    .learn-button{
      background-color: rgb(45,112,143);
      color: white;
      border: none;
      height: 36px;
      width: 100px;
      border-radius: 17px;
      cursor: pointer;
    }
    .learn-button:hover{
      background-color: rgb(83,164,195);;
    }

    @media (max-width: 850px){
      .div-sla{
        flex-wrap: wrap;
      }
    }

    