*{
  margin: 0;
}
body{
  font-family: Arial;
  background-color: rgb(0,16,33);
}

header{
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: rgb(0,16,33);
  font-size: 18px;
  font-weight: 500;
  z-index: 100;
}

header div div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

header div div a{
  text-decoration: none;
  color: rgb(45,112,143);
}

.navbar-toggle{
  display: none;
  gap: 5px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.navbar-toggle .bar{
  background: rgb(45,112,143);
  border: none;
  display: block;
  height: 6px;
  width: 35px;
  margin: 5px;
  transition: all .3s ease-in-out
}

header div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
}

.navbar-menu{
  display: flex;
  align-items: center;
  gap: 30px;
  white-space: nowrap;
}

header img{
  border-radius: 50px;
}

.navbar-menu a{
  text-decoration: none;
  color: rgb(45,112,143);
}
.btn{
  background-color: transparent;
  color: rgb(45,112,143);
  border: 2px solid rgb(45,112,143);
  height: 50px;
  width: 120px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color .5s ease;
  margin-left: 30px;
}
.btn:hover{
  background-color: rgb(83,164,195);
  border: none;
  color: #fff;
}

@media (max-width: 850px){
  header div{
    margin-left: 20px;
  }

  .navbar-toggle{
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    z-index: 999;
    padding: 15px;
  }

  .navbar-menu{
    display: none;
    margin-top: 60px;
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    font-size: 18px;
    height: 100vh;
    width: 250px;
    backdrop-filter: blur(10px);
  }
  
  .btn{
    margin: 0;
  }

  .navbar-menu.active{
    display: flex;
  }
  .navbar-toggle.active .bar:nth-child(2){
    opacity: 0;
  }

  .navbar-toggle.active .bar:nth-child(1){
    transform: translateY(11px) rotate(45deg);
  }

  .navbar-toggle.active .bar:nth-child(3){
    transform: translateY(-11px) rotate(-45deg);
  }
}

@media (max-width: 480px){
  header{
    height: 50px;
    font-size: 12px;
  }

  header img{
    width: 40px;
  }

  .navbar-toggle .bar{
    height: 3px;
    width: 25px;
  } 

  .navbar-toggle.active .bar:nth-child(2){
    opacity: 0;
  }
  .navbar-toggle.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .navbar-toggle.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}
