    *{
      margin: 0;
    }

    .footer-conteiner{
      background-image: url(../images/sky.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      font-family: Arial;
    }
    .footer-conteiner div{
      backdrop-filter: blur(5px);
    }
    .sla-conteiner{
      margin-left: 40px;
      padding-top: 60px;
    }
    .sla-conteiner h1{
      color: rgb(83,164,195);
      margin-bottom: 20px;
    }

    .sla-conteiner div{
      width: 350px;
    }

    .btn-contact{
      margin-top: 20px;
      margin-left: 36px;
      background-color: rgb(45,112,143);
      border: none;
      height: 36px;
      border-radius: 10px;
      color: white;
      cursor: pointer;
    }