    *{
      margin: 0;
    }

    .footer-conteiner{
      background-color: rgba(0,16,33,.5);
      color: #fff;
      font-family: Arial;
      padding: 20px 0;
      width: 100%;
    }
    .footer-conteiner div{
      backdrop-filter: blur(5px);
    }
    .sla-conteiner{
      padding-left: 90px;
      padding-top: 40px;
    }
    .sla-conteiner h1{
      color: rgb(83,164,195);
      margin-bottom: 20px;
    }

    .sla-conteiner div{
      width: 250px;
    }

    .btn-contact{
      margin-top: 20px;
      background-color: rgb(45,112,143);
      border: none;
      height: 36px;
      width: fit-content;
      padding: 10px;
      border-radius: 10px;
      color: white;
      cursor: pointer;
    }

    @media (min-width: 320px) and (max-width: 850px){
      .sla-conteiner{
        padding: 10px 45px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }