    *{
      margin: 0;
    }

    .footer-conteiner{
      background-color: rgba(0,16,33,.5);
      color: #fff;
      font-family: Arial;
      padding-bottom: 40px;
    }
    .footer-conteiner div{
      backdrop-filter: blur(5px);
    }
    .sla-conteiner{
      margin-left: 90px;
      padding-top: 40px;
    }
    .sla-conteiner h1{
      color: rgb(83,164,195);
      margin-bottom: 20px;
    }

    .sla-conteiner div{
      width: 350px;
    }

    .btn-contact{
      margin-top: 20px;
      margin-left: 90px;
      background-color: rgb(45,112,143);
      border: none;
      height: 36px;
      border-radius: 10px;
      color: white;
      cursor: pointer;
    }