.conteiner{
  background-color: black;
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.conteiner section{
  margin: 2px;
  width: 100px;
  height: 100px;
  background-color: blue;
}