*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(../pics/Fallingsky.png) no-repeat;
  background-size: cover;
  background-position: center;
  /*background-position-y: -100px;*/
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.logo{
  font-size: 2em;
  color: rgb(83,164,195);
  font-weight: bold;
  cursor: pointer;
}

.wrapper{
  position: relative;
  height: 440px;
  width: 400px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease, height .2s ease;
}

.wrapper .icon-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: black;
  font-size: 2em;
  color: rgb(83,164,195);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.wrapper .form-box{
  width: 100%;
  padding: 40px;
}

.wrapper h2{
  font-size: 2em;
  text-align: center;
}

.input-box{
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgb(22,76,104);
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: none; 
  color: rgb(83,164,195);
  transition: 0.5s;
}

.input-box input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: rgb(83,164,195);
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: rgb(83,164,195);
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input{
  accent-color: rgb(83,164,195);
  margin-right: 3px;
  cursor: pointer;
}

.remember-forgot a{
  color: rgb(83,164,195);
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.btn{
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  color: rgb(83,164,195);
  transition: background-color 0.5s ease;
}
.btn:hover{
  background-color: rgba(83, 164, 195, 0.5);
  color: rgba(0, 0, 0, 0.8);
}

.login-register {
  font-size: 0.9em;
  color: rgb(83,164,195);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a{
  color: rgba(83, 164, 195, 0.5);
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover{
  text-decoration: underline;
}


.input-box input{
  font-size: 18px;
  color: #fff;
}
.input-box input::placeholder{
  font-size: 18px;
  color: rgb(83,164,195);
}