body{
      background: url(../images/download\ \(5\).jpg) no-repeat;
      background-size: cover;
      background-position: center;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    form{
      border: 2px solid;
      background-color: transparent;
      color: orange;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 400px;
      padding: 20px;
      border-radius: 10px;
    }

    form input{
      width: 250px;
      height: 26px;
      cursor: pointer;
      background-color: transparent;
      border: 2px solid orange;
      border-radius: 6px;
    }
    form select{
      width: 255px;
      height: 26px;
      cursor: pointer;
      background-color: transparent;
      border: 2px solid orange;
      border-radius: 6px;
      cursor: pointer;
    }
    form button{
      background-color: transparent;
      color: orange;
      height: 30px;
      width: 255px;
      border: none;
      border-radius: 15px;
      transition: background-color 0.5s;
      border: 2px solid orange;
      cursor: pointer;
      margin-bottom: 15px;
    }
    form button:hover{
      background-color: orange;
      color: white;
    }