.container .content{
  position: relative;
  margin-top: 5vh;
  min-height: 95vh;
  background: rgb(0,16,33);
  display: none;
}
.container .content.show{
  display: block;
}

.h{
  color: rgb(83,164,195);
  margin-left: 2vw;
  font-size: 25px;
}
.h1{
  color: rgb(0,16,33);
}
.h1:hover{
  color: rgb(0,16,33);
}


.icon-case{
  color: #fff;
}
.icon-case ion-icon{
  width: 40px;
  height: 40px;
}


.container .content .cards{ 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container .content .cards .card,
.container .content .cards .card.c{
  width: 246px;
  height: 150px;
  background: rgb(7,46,72);
  margin: 10px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  border-radius: 6px;
  cursor: pointer;
}

.container .content .cards .card.c{
  width: 340px;
  height: 120px; 
  margin-left: 25px;
  border: 2px solid rgb(22,76,104);
  background-color: transparent;
}

.container .content .container-box{
  background-color: rgb(22,76,104);
  width: 96%;
  height: 150px;
  border-radius: 6px;
  margin: 70px 150px 25px 25px;
  padding: 20px; 
}

.container-box .logout{
  position: absolute;
  top: 1;
  right: 0;
  width: fit-content;
  height: 25px;
  background-color: transparent;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 10px 30px 0 10px ;
  cursor: pointer;
  z-index: 1;
  border: 2px solid rgb(0,16,33);
  transition: background-color .5s ease;
}

.container-box .logout a{
  width: 100%;
  height: 100%;
  margin: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0,16,33);
}

.container-box .logout a ion-icon{
  width: 20px;
  height: 20px;
}

.container-box .logout:hover,
.container-box .logout a:hover,
.container-box .logout a:hover ion-icon{
  background-color: rgb(0,16,33);
  color: rgb(45,112,143);
}


.container .content .content-2{
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container .content .content-2 .table2{
  border: 1px solid;
  min-height: 50vh;
  flex: 5;
  background: rgb(7,46,72); 
  margin: 0 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.container .content .content-2 .table{
  flex: 2;
  background: rgb(7,46,72);
  min-height: 50vh;
  margin: 0 25px 0 0;
  box-shadow: 0 4px 8px 0 rgba(7,46,72, .2), 0 6px 20px 0 rgba(7,46,72, .19);
  display: flex;
  flex-direction: column; 
  border-radius: 6px;
}

.container .content .content-2 .table table th,
.container .content .content-2 .table2 table th{
  color: rgb(83,164,195);
}

.container .content .content-2 .table table td,
.container .content .content-2 .table2 table td{
  color: #fff;
}

.container .content .content-2 .table table td:nth-child(1) ion-icon{
  height: 40px;
  width: 40px;
  color: #fff;
}

.container .content .content-2 .table table td:nth-child(3) ion-icon{
  height: 40px;
  width: 40px;
  color: #fff;
  cursor: pointer;
  transition: color .2s ease;
}

.container .content .content-2 .table table td:nth-child(3) ion-icon:hover{
  color: rgb(45,112,143);
}

.container .content .content-3{
  margin: 25px;
}

.container .content .content-3 .table,
.container .content .content-3 .table2{
  flex: 2;
  background: rgb(7,46,72);
  min-height: 50vh;
  margin: 0 25px 0 0;
  box-shadow: 0 4px 8px 0 rgba(7,46,72, .2), 0 6px 20px 0 rgba(7,46,72, .19);
  display: flex;
  flex-direction: column; 
  border-radius: 6px;
}

.container .content .content-3 .table table th,
.container .content .content-3 .table2 table th{
  color: rgb(83,164,195);
}

.container .content .content-3 .table table td,
.container .content .content-3 .table2 table td{
  color: #fff;
}

.container .content .content-3 .table table td:nth-child(1) ion-icon{
  height: 40px;
  width: 40px;
  color: #fff;
}

.container .content .content-3 .table table td:nth-child(3) ion-icon{
  height: 40px;
  width: 40px;
  color: #fff;
  cursor: pointer;
  transition: color .2s ease;
}

.container .content .content-3 .table table td:nth-child(3) ion-icon:hover{
  color: rgb(45,112,143);
}



.content-4{
  display: none;
}