    *{
      margin: 0;
    }

    .footer-principal{
      background-color: rgb(45, 112, 143);
      
    }
    .footer{
      display: flex;
      padding: 20px;
      padding-left: 70px;
      flex-wrap: wrap;
      gap: 50px;
    }
    .footer section div{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; 
    }

    .f-description{
      display: flex;
      gap: 30px;
      color: rgb(0,16,33);
    }

    .f-description span{
      color: rgba(0,16,33, .5);
    }

    .f-description div{
      width: 300px;
      font-size: 11pt;
      text-align: justify;
      color: rgb(0,16,33);
    }

    .inputs-registration{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .inputs-registration input{
      border: none;
      width: 200px;
      font-size: 9pt;   
    }

    .small-input{
      padding: 10px 5px;
      margin-top: 10px;
    }

    .big-input{
      padding: 25px 5px;
    }

    .btn-enviar{
      border: none;
      background-color: transparent;
      color: rgb(0,16,33);
      border: 2px solid rgb(0,16,33);
      border-radius: 10px;
      width: 80px;
      height: 35px;
      cursor: pointer;
      transition: background-color .3s ease;
    }
    
    .btn-enviar:hover{
      background-color: rgb(0,16,33);
      color: rgb(45, 112, 143);
    }

    .f-services{
      color: rgb(0,16,33);
    }
    .f-services span{
      color: rgb(0,16,33);
      margin-top: 10px;
      cursor: pointer;
    }
    
    .footer-secundaria{
      background-color: rgb(45,112,143);
      height: fit-content;
      padding: 10px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      color: rgb(0,16,33);
    }

    @media (max-width: 500px){
      .footer{
        margin: 30px 250px 0 30px;
      }
      .footer-secundaria{
        margin-left: 30px;
      }
    }