.container-about{
  width: 50%;
  height: 50vh;
  margin-top: 30px;
  background-color: transparent;
  position: absolute;
  top: 100px;
  left: 50px;
  margin-left: 250px;
  font-size: 15px;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  z-index: 1;
  border: 2px solid rgb(45,112,143);
  transition: background-color .5s ease;
}
.letter{
  width: 50%;
  overflow-y: scroll;
  border: 2px solid rgb(45,112,143);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 6px;
  background-color: transparent;
  color: #fff;
}
.letter .h1{
  color: #fff;
}
.photo{
  height: 100%;
  width: 50%;
  border: 2px solid rgb(45,112,143);
  background-image: url(../../pictures/generated_photos_6915bfd3c746c20011cebc60.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}