.container-courses{
  width: 100%;
  height: 100vh;
  border: 2px solid white;
  margin-top: 50px;
}

.Electronicos-Principal{
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.electronics{
  margin: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.electronics section{
  border: 2px solid white;
  background-color: rgb(22,76,104);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.electronics section div{
  width: 225px;
  height: 250px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.btn-favorite{
  position: relative;
  bottom: 95px;
  left: 10px;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  border: none;
  background-color: #f1f4f9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-button{
  margin-top: 10px;
  height: 35px;
  width: 100%;
  border: 2px solid #fff;
  color: #fff;
  background-color: rgb(45,112,143);
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color .5s ease;
  font-size: 1em;
  font-weight: 500;
}

.add-button:hover{
  background-color: rgb(83,164,195);
  border: none;
}

.btn-favorite ion-icon{
  height: 25px;
  width: 25px;
}
.btn-favorite ion-icon:hover{
  color: rgb(83,164,195);
}