 body{
      height: 50vh;
      display: flex;
      gap: 00px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(177, 157, 157);
    }
    main{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 500px;
      height: fit-content;
      /*border: 1px solid black;*/
    }
    .P{
      border: 1px solid black;
      padding: 10px ;
    }

    .input{
      width: 250px;
      height: 20px;
    }
    .btn{
      width: 100px;
      height: 25px;
    }
    .btn:hover{
      background-color: orange;
      border: 1px solid black;
    }
    .class{
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: 1px solid black;
    }
    footer{
      margin-top: 50px;
    }