    *{
      margin: 0;
    }

    body{
      font-family: Arial;
    }

    .conteiner{
      background-image: url(../images/Fallingsky.png);
      background-position: 5pc;
      height: 550px;
      display: flex;
      color: rgb(45,112,143);
    }
    .conteiner section h1{
      font-size: 40pt;
      margin-bottom: 20px;
    }
    .conteiner section h2{
      font-size: 40pt;
    }