    *{
      margin: 0;
    }
    body{
      background-color: rgb(0,16,33);
      font-family: Arial;
    }
    .div-sla{
      width: 100%;
      padding: 20px 0;
      background-color: rgb(45,112,143);
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      justify-content: center;
      align-items: center;
    }
    .div-sla section{
      display: flex;
      padding: 40px 20px ;
      gap: 20px;
      width: fit-content;
      background-color: rgb(0,16,33);
      margin: 3px;
      color: rgb(45,112,143);
    }
    .div-sla section p{
      opacity: 0.5;
    }

    .learn-button{
      background-color: rgb(45,112,143);
      color: white;
      border: none;
      height: 36px;
      width: 100px;
      border-radius: 17px;
      cursor: pointer;
    }
    .learn-button:hover{
      background-color: rgb(83,164,195);;
    }