    *{
      margin: 0;
    }
    body{
      background-color: rgb(0,16,33);
      font-family: Arial;
    }
    .footer-principal{
      margin: 150px 150px 0px 150px;

    }
    .footer{
      display: flex;
      flex-wrap: wrap;
      gap: 100px;
      margin-top: 30px;
    }
    .footer section div{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; 
    }

    .insonia-description{
      
      display: flex;
      gap: 30px;
      color: rgb(45,112,143);
    }

    .insonia-description div{
      width: 300px;
      font-size: 11pt;
      text-align: justify;
      text-justify: inter-word;
      color: rgb(45,112,143);
      opacity: 0.5; 
    }

    .inputs-registration{
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: rgb(45,112,143);
    }

    .inputs-registration input{
      border: none;
      width: 200px;
      font-size: 9pt;
      
    }

    .small-input{
      padding: 10px 5px;
      margin-top: 10px;
    }

    .big-input{
      padding: 25px 5px;
    }

    .btn-enviar{
      border: none;
      background-color: rgb(45,112,143);
      color: white;
      width: 80px;
      height: 35px;
      cursor: pointer;
    }

    .insonia-services{
      color: rgb(45,112,143);
    }
    .insonia-services span{
      color: rgb(45,112,143);
      opacity: 0.5; 
      margin-top: 10px;
      cursor: pointer;
    }
    
    .footer-secundaria{
     margin: 150px 450px 30px 450px;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     color: rgb(45,112,143);
     opacity: 0.5; 
    }