    *{
      margin: 0;
    }
    body{
      font-family: Arial;
      background-color: rgb(0,16,33);
    }
  
    header {
      position: fixed;
      width: 100%;
      height: 70px;
      background-color: rgb(0,16,33);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    header div div{
      display: flex;
      gap: 10px;
    }

    header div div a{
      text-decoration: none;
      color: rgb(45,112,143);
    }

    header div{
      display: flex;
      align-items: center;
      gap: 400px;
    }

    header nav{
      display: flex;
      gap: 30px;
    }

    header img{
      border-radius: 50px;
    }

    header nav a{
      text-decoration: none;
      color: rgb(45,112,143);
    }
    .btn{
      background-color: rgb(45,112,143);
      border: none;
      height: 36px;
      width: 80px;
      border-radius: 10px;
      color: white;
      cursor: pointer;
    }
    .btn:hover{
      background-color: rgb(83,164,195);
    }