.container{
  position: absolute;
  right: 0;
  margin-top: 10px;
  width: 80vw;
  height: 100vh;
  background: rgb(0,16,33);
  border: 1px solid;
}

.container .header{
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 5vh;
  background: rgb(22,76,104); 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  z-index: 1;
}

.container .header .nav{
  width: 90%;
  display: flex;
  align-items: center;
}

.container .header .nav .search{
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .header .search input[type=text]{
  border: none;
  background: rgb(45,112,143);
  padding: 10px;
  width: 50%;
  height: 4vh;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  color: #fff;
  outline: none;
}
.container .header .search input[type=text]::placeholder{
  color: #fff;
}

.container .header .search button{
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgb(45,112,143);
  color: #fff;
}


.container .header .search button ion-icon{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .header .nav .user{
  flex: 1;
  display: flex;
  gap: 20px;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}

.container .header .nav .user ion-icon{
  height: 25px;
  width: 25px;
  color: rgb(45,112,143);
  transition: color .5s ease;
}

.user .img-case{
  position: relative;
  width: 25px;
  height: 25px;
}

.user .img-case ion-icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container .header .nav .user ion-icon:hover{
  color: #fff;
}