.side-menu{
  position: fixed;
  background-color: rgb(22,76,104);
  width: 20vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.side-menu .brand-name{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.h1{
  color: rgb(45,112,143);
  font-size: 20px;
  transition: color .2s ease;
}

.h1:hover{
  color: rgb(83,164,195);
}

.side-menu li{
  font-size: 24px;
  padding: 10px 20px;
  color: rgb(7,46,72);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.side-menu .active{
  background-color: rgb(0,16,33);
  color: #fff;
}

.side-menu li:hover{
  background: rgba(0,16,33, .5);
  color:  #fff;
}
