*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  background-color: rgb(0,16,33);
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

h1,
h2{
  font-size: 18px;
  color: rgb(83,164,195);
}
h3{
  color: rgb(83,164,195);
}

.btn{
  background: rgb(45,112,143);
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  transition: background-color .5s;
}
.btn:hover{
  color: rgb(45,112,143);
  background-color: transparent;
  padding: 3px 8px;
  border: 2px solid rgb(45,112,143);
}
.btns{
  display: flex;
  gap: 8px;
}

.edit-btn, .delete-btn{
  background-color: rgb(22,76,104);
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 6px;
  color: rgb(83,164,195);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.edit-btn:hover{
  background-color: rgb(83,164,195);
  color: rgb(0, 0, 0);
}
.delete-btn:hover{
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
} 

.btn1{
  background: transparent;
  border: 2px solid rgb(0, 128, 0);
  height: fit-content;
  width: fit-content;
  padding: 3px;
  text-align: center;
  transition: background-color .5s;
  border-radius: 20px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn1:hover{
  background-color: rgb(0, 128, 0);
  border: none;
}
.btn1 ion-icon{
  color: rgb(56, 167, 56);
  font-weight: 600;
}
.btn1 ion-icon:hover,
.btn2 ion-icon:hover{
  color: rgb(0,16,33);
}

.btn2{
  background: transparent;
  border: 2px solid rgb(255, 0, 0);
  height: fit-content;
  width: fit-content;
  padding: 3px;
  text-align: center;
  transition: background-color .5s;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn2:hover{
  background-color: rgb(255, 0, 0);
}

.btn2 ion-icon{
  color: rgb(255, 0, 0);
  font-weight: 600;
}

.title{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
  border-bottom: 2px solid rgb(83,164,195);
}
.title2{
  padding: 15px 10px;
  border-bottom: 2px solid rgb(83,164,195);
}

table{
  padding: 10px;
}

th,td{
  text-align: left;
  padding: 8px;
}