.wrapper{
  display: flex;
  position: relative;
  height: 550px;
  width: 400px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease, height .2s ease;
}

.wrapper .icon-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: black;
  font-size: 2em;
  color: rgb(83,164,195);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
.wrapper .icon-close:hover{
  background-color: rgb(83,164,195);
  color: black;
  transition: background-color 0.5s ease;
}
.wrapper .form-box{
  width: 100%;
  padding: 20px;
}

.wrapper h2{
  font-size: 1.5em;
  text-align: center;
}

.input-box{
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 30px;
  border-bottom: 2px solid rgb(22,76,104);
  margin: 30px 0;
}



.input-box input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}


.input-box.textarea{
  border: 2px solid rgb(22,76,104);
  border-radius: 6px;
  height: fit-content;
}

.input-box .input2{
  font-size: 1.1em;
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;  
}

.input2::placeholder{
  color: rgba(255, 255, 255, 0.5);
}


.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: rgb(83,164,195);
  height: 37px;
}

.input-box .input{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-60%) translateX(-1%);
  font-size: 1.1em;
  color: rgb(83,164,195);
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;  
}
.input::selection{
  color: white;
}

input[type = "file"]::file-selector-button{
  background-color: rgb(22,76,104);
  color: rgb(83,164,195);
  border: none;
  outline: none;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

input[type = "file"]::file-selector-button:hover{
  background-color: rgb(83,164,195);
  color: rgb(0, 0, 0);
}

.remember-forgot {
  font-size: 0.9em;
  color: rgb(83,164,195);
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input{
  accent-color: rgb(83,164,195);
  margin-right: 3px;
  cursor: pointer;
}

.remember-forgot a{
  color: rgb(83,164,195);
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.btnProduct{
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  color: rgb(83,164,195);
  border: 2px solid rgb(83,164,195);
  transition: background-color 0.5s ease;
}
.btnProduct:hover{
  background-color: rgb(83,164,195);
  color: rgb(0, 0, 0);
  border: none;
}

#box-input{
  display: flex;
  gap: 10px;
}
.box-input{
  width: 100%;
  margin-top: 20px;
}

.input-box input{
  font-size: 18px;
  color: #fff;
}
.input-box input::placeholder{
  font-size: 18px;
  color: rgb(83,164,195);
}


.wrapper-course{
  display: flex;
  position: relative;
  height: 360px;
  width: 400px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease, height .2s ease;
}

.modal-course,
.modal-product{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}
.show-form{
  display: flex;
}

.show-course-form{
  display: flex;
}

.btnCourse{
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  color: rgb(83,164,195);
  border: 2px solid rgb(83,164,195);
  transition: background-color 0.5s ease;
}

.btnCourse:hover{
  background-color: rgb(83,164,195);
  color: rgb(0, 0, 0);
  border: none;
}


.edit-btn, .delete-btn{
  background-color: rgb(22,76,104);
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 6px;
  color: rgb(83,164,195);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.edit-btn:hover{
  background-color: rgb(83,164,195);
  color: rgb(0, 0, 0);
}
.delete-btn:hover{
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
} 